body{
    /*display: flex;
    flex-wrap: wrap;
    justify-content: center;*/
    font: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-transform: uppercase;
    top: 15%;
    letter-spacing: .5em;
   background: linear-gradient(to right, red , black); /*standard syntax for Linear Gradient*/
    
}

h1{
    font: 600 3.5em 'Raleway', sans-serif;
    color: black;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
    
}

h2{
    font: 600 3.5em 'Raleway', sans-serif;
    color: black;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
    
}

h3{
    font: 900 3.5em 'Raleway', sans-serif;
    color: black;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.01em;
    width: 100%;
     
}


.container {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.lgaClass{
    width: 500px;
    height: 10px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 700px;

}




